[Desktop Entry]
Name=precommit-rs
Comment=Collection of pre-commit hooks implemented in Rust
Exec=precommit-rs
Icon=precommit-rs
Terminal=false
Type=Application
Categories=Development;Utilities;
